@model List<VTGPost.Models.RoleInfo>

@{
       Layout = "~/Areas/ManageSite/Views/Shared/_ManageSiteLayout.cshtml";
}

@section CustomStyle{
    <link rel="stylesheet" href="@Href("~/Content/backend/plugins/data-tables/DT_bootstrap.css")"/>
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box messageBox">
            <span class="messageBox">@ViewBag.SaveMessage</span>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>User groups - Danh sách nhóm
                </div>
            </div>
            <div class="portlet-body">
                <div id="sample_editable_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="row">
                        
                    </div>
                    <div class="table-scrollable">
                        <table style="width: 1060px;" aria-describedby="sample_editable_1_info" class="table table-striped table-hover table-bordered dataTable" id="sample_editable_1">
                            <thead>
                                <tr role="row">
                                    <th aria-label="User name" style="width: 225px;" colspan="1" rowspan="1" role="columnheader" class="">Tên nhóm
                                    </th>
                                    <th aria-label="Points: activate to sort column ascending"
                                        style="width: 622px;" colspan="1" rowspan="1" aria-controls="sample_editable_1" tabindex="0" role="columnheader" >Ghi chú
                                    </th>
                                    @*<th aria-label="Edit: activate to sort column ascending"
                                        style="width: 99px;" colspan="1" rowspan="1" aria-controls="sample_editable_1" tabindex="0" role="columnheader" >Phân quyền
                                    </th>*@
                                </tr>
                            </thead>

                            <tbody aria-relevant="all" aria-live="polite" role="alert">
                                @{
                                    var count = 1;
                                    var trClass = string.Empty;
                                    foreach (var role in Model)
                                    {
                                        trClass = count % 2 == 0 ? "even" : "odd";
                                        
                                        <tr class="@trClass">
                                            <td class="">@role.RoleName</td>
                                            <td class="">@role.RoleDescription</td>
                                            @*<td class=" ">@Html.ActionLink("Grant Role", "GrantRights", new { @groupName = role.RoleName}, new { @class="edit"})</td>*@
                                        </tr>
                                        count++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
